
.DS_Store
.xml
.iml
.csv
.idea
.pyc

.idea/*

abc/*
ap/*
bh/*
chicago/*
cnn/*
cp/*
dc/*
dm/*
guardian/*
fox/*
marketwatch/*
msnbc/*
npr/*
nyp/*
nyt/*
ohio/*
people/*
politico/*
reuters/*
sun/*
tennessee/*
vox/*
washpost/
not_working/*